.profile {
  background-color: #fff;
  height: 394px;
  width: 400px;
  border-radius: 16px;
  margin-right: 68px;
  margin-bottom: 40px;
}

.content {
  padding-top: 40px;
  background: rgb(48, 166, 240);
  background: linear-gradient(
    180deg,
    rgba(48, 166, 240, 1) 0%,
    rgba(171, 232, 255, 1) 100%
  );
  text-align: center;
  border-radius: 16px 16px 0 0;
  height: 182px;
}

.id h1 {
  font-size: 32px;
  margin-top: 24px;
  font-weight: 300;
  color: #5b5b5b;
}

.nome h2 {
  font-size: 32px;
  margin-top: 16px;
  font-weight: 700;
  color: #5b5b5b;
}

.img-container {
  border-radius: 100%;
  background: #fff;
  margin: auto;
  width: 248px;
  padding: 40px;
  height: 248px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  padding: 0;
}
