.bg-fundo {
  max-width: 100vw;
}

.pokemon-list {
  position: relative;
  width: 100%;
}

.bg-detalhes {
  position: absolute;
  left: 60px;
  top: 70px;
  width: 580px;
  height: 582px;
  z-index: -1;
}
