* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans";
  background: rgb(48, 166, 240);
  background: linear-gradient(
    180deg,
    rgba(48, 166, 240, 1) 0%,
    rgba(171, 232, 255, 1) 100%
  );
  min-height: 100vh;
}
